<html>
<head>
    <title>PhpMetrics report</title>
    <meta charset="utf-8">

    <style type="text/css">
        {% include "assets/bootstrap.css.twig" %}
        .validate-critical {
            background-color:#B01E00 !important;
            color:#FFF;
        }
        .validate-warning {
            background-color:#f4b300 !important;
            color:#333;
        }
        .validate-good {
            background-color:#78ba00 !important;
            color:#FFF;
        }
        .validate-unknown {
        }
    </style>
</head>

<body>

<div class="container">
    <h1>PhpMetrics detailled report</h1>



    <table class="table table-striped table-condensed" id="table-results">
        <thead>
            <th>File</th>
            <th>LLOC</th>
            <th>Complexity</th>
            <th>Myer Distance</th>
            <th>Maintenability index</th>
            <th>Volume</th>
            <th>Vocabulary</th>
            <th>Comment weight</th>
            <th>Intelligent content</th>
            <th>Difficulty</th>
            <th>Bugs</th>
            <th>LCOM</th>
            <th>Instability</th>
            <th>Efferent coupling</th>
            <th>Afferent coupling</th>
            <th>Num. of classes</th>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>
                    {{result.filename}}
                </td>
                <td class="validate-{{result.logicalLoc|rule('logicalLoc')}}">
                    {{result.logicalLoc|round}}
                </td>
                <td class="validate-{{result.cyclomaticComplexity|rule('cyclomaticComplexity')}}">
                    {{result.cyclomaticComplexity|round}}
                </td>
                <td class="validate-{{result.myerDistance|rule('myerDistance')}}">
                    {{result.myerDistance|round}}
                </td>
                <td class="validate-{{result.maintenabilityIndex|rule('maintenabilityIndex')}}">
                    {{result.maintenabilityIndex|round}}
                </td>
                <td class="validate-{{result.vocabulary|rule('vocabulary')}}">
                    {{result.vocabulary|round}}
                </td>
                <td class="validate-{{result.commentWeight|rule('commentWeight')}}">
                    {{result.commentWeight|round}}
                </td>
                <td class="validate-{{result.intelligentContent|rule('intelligentContent')}}">
                    {{result.intelligentContent|round}}
                </td>
                <td class="validate-{{result.difficulty|rule('difficulty')}}">
                    {{result.difficulty|round}}
                </td>
                <td class="validate-{{result.logicalLoc|rule('logicalLoc')}}">
                    {{result.logicalLoc|round}}
                </td>
                <td class="validate-{{result.bugs|rule('bugs')}}">
                    {{result.bugs|round}}
                </td>
                <td class="validate-{{result.lcom|rule('lcom')}}">
                    {{result.lcom}}
                </td>
                <td class="validate-{{result.instability|rule('instability')}}">
                    {{result.instability}}
                </td>
                <td class="validate-{{result.efferentCoupling|rule('efferentCoupling')}}">
                    {{result.efferentCoupling}}
                </td>
                <td class="validate-{{result.afferentCoupling|rule('afferentCoupling')}}">
                    {{result.afferentCoupling}}
                </td>
                <td class="validate-{{result.noc|rule('noc')}}">
                    {{result.noc}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div>
        Powered by <a href="https://github.com/Halleck45/PhpMetrics">PhpMetrics</a> - Copyright Jean-François Lépine
    </div>


</div>





{% include "assets/tablesorter.js.twig" %}


<script type="text/javascript">
    $(function(){
        $("#table-results").tablesorter();
    });
</script>


</body>
</html>