<html>
<head>
    <title>PhpMetrics report</title>
    <meta charset="utf-8">
    {% include "assets/favicon.html.twig" %}
    <style type="text/css">
        {% include "assets/nv.d3.css.twig" %}
        {% include "assets/styles.css.twig" %}
    </style>
</head>

<body>

<div class="container">



    <h1>PhpMetrics report</h1>

    <div class="row">
        <div class="well accessibility-box">
            <label>
                <input type="checkbox" onclick="toggleAccessibility()"> I'm colorblind
            </label>
        </div>

        <div class="menu-box">
            <ul id="menu" class="menu" >
                <li class="active" onclick="return displayTab(this, 'overview');"><a >Overview</a></li>
                <li onclick="return displayTab(this, 'relations');"><a  >Relations map</a></li>
                <li onclick="return displayTab(this, 'explore');"><a >Explore</a></li>
                <li onclick="return displayTab(this, 'help');"><a  >Help</a></li>
            </ul>
        </div>


    </div>


    <div class="tab-content row">

        <!-- General overview -->
        <div class="row tab active" id="overview">
            <div class="col-3">
                <h3>Maintenability</h3>
                <small><a id="btn-save-maintenability" download="phpmetric-maintenability.svg">Download (as SVG)</a></small>
                <div id="svg-maintenability"><svg /></div>

                <div class="well ">

                    <h4>Information</h4>
                    <p>
                        Each file is symbolized by a circle.
                        Size of the circle represents the Cyclomatic complexity.
                        Color of the circle represents the Maintenability Index.
                    </p>
                    <p>Large red circles will be probably hard to maintain.</p>
                </div>

            </div>
            <div class=" col-3">

                <h3 id="title-custom">Custom chart</h3>
                <small><a id="btn-save-custom" download="phpmetric-custom.svg">Download (as SVG)</a></small>
                <div id="svg-custom"><svg /></div>

                <div class="well">
                    <h4>Configuration</h4>
                    <p>
                        Select metrics you want to display in chart.
                    </p>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>X Axis</td>
                            <td>Y Axis</td>
                            <td>Diameter</td>
                        </tr>
                        <tr>
                            <td>
                                <select id="xAxis" class="form-control" onchange="xAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select id="yAxis" class="form-control" onchange="yAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select id="rAxis" class="form-control" onchange="rAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-3">
                <h3>Abstractness / Instability</h3>
                <small><a id="btn-save-abstractness" download="phpmetric-abstractness.svg">Download (as SVG)</a></small>
                <div id="svg-abstractness"><svg /></div>
            </div>
        </div>
        <!-- end: General overview -->



        <!-- Relations -->
        <div class="tab" id="relations">
            <h3>Relations</h3>
            <div class="col-sm-12">
                <div class="well">
                    <p>
                        Class uses another when it calls, constructs, types hint, extends or implements it.
                    </p>
                    <ul>
                        <li><span class="badge relation-source">Used by</span> : this class is used by hovered element.</li>
                        <li><span class="badge relation-target">Uses</span> : this class uses hovered element.</li>
                    </ul>

                </div>
                <small><a id="btn-save-relations" download="phpmetric-relations.svg">Download (as SVG)</a></small>
                <div class="svg-main" id="svg-relations"><svg /></div>

            </div>
        </div>
        <!-- end: Relations -->


        <!-- Tabular datas -->
        <div class="tab" id="explore">
            <div class="col-sm-12">
                <h3>Explore</h3>
                <div id="chart-tableview"></div>
            </div>
        </div>
        <!-- end: Tabular datas -->

        <!-- Help -->
        <div class="tab" id="help">
            <div class="col-sm-12">
                <h3>Help</h3>
                <p>
                    Online help is available on the <a href="http://www.phpmetrics.org/documentation/index.html">PhpMetrics website</a>.
                </p>
                <p>
                    Sources of PhpMetrics are available on <a href="https://github.com/Halleck45/PhpMetrics">Github</a>.
                </p>
            </div>
        </div>
        <!-- end: Help -->

    </div>


    <div class="row">
        Powered by <a href="http://www.phpmetrics.org">PhpMetrics</a> - Copyright Jean-François Lépine
    </div>


</div>






{% include "assets/functions.js.twig" %}
{% include "assets/d3js.js.twig" %}
{% include "assets/nv.d3.min.js.twig" %}

{% include "summary/report-tabular.js.twig" %}
{% include "summary/report-maintenability.js.twig" %}
{% include "summary/report-custom.js.twig" %}
{% include "summary/report-abstractness.js.twig" %}
{% include "summary/report-relations.js.twig" %}



<script type="text/javascript">

    document.onreadystatechange = function() {
        if(document.readyState == 'complete') {
            // init tabs
            document.getElementById('menu').firstElementChild.onclick();

            // init charts
            updateTableView();
            updateCustomChart();
            updateAbstractnessChart();
            updateMaintenablityChart();
            updateRelationsChart();

            // selects
            document.getElementById('xAxis').value = xAxis;
            document.getElementById('yAxis').value = yAxis;
            document.getElementById('rAxis').value = rAxis;
        }
    }


    // default selected elements
    var xAxis = 'lcom';
    var yAxis = 'cyclomaticComplexity';
    var rAxis = 'loc';



    {% autoescape false %}
    var data = {{ results | json_encode }}
    var groupedData = {{ groupedResults.asArray() | json_encode }}
    var ruleSet = {{ ruleSet.asArray() | json_encode }}
    {% endautoescape %}

    // accessibility for colorblinds
    var accessibilityEnabled = false;

    // fixes links to tab
    // Javascript to enable link to tab
//    var hash = document.location.hash;
//    var prefix = "tab_";
//    if (hash) {
//        $('#menu a[href='+hash.replace(prefix,"")+']').tab('show');
//    }
//    // Change hash for page-reload
//    $('#menu a').on('shown', function (e) {
//        window.location.hash = e.target.hash.replace("#", "#" + prefix);
//    });

</script>


</body>
</html>