<html>
<head>
    <title>PhpMetrics report</title>
    <meta charset="utf-8">

    <style type="text/css">
        {% include "assets/bootstrap.css.twig" %}
        {% include "assets/nv.d3.css.twig" %}
        {% include "assets/styles.css.twig" %}
    </style>
</head>

<body>

<div class="container">



    <h1>PhpMetrics report</h1>

    <ul id="menu" class="nav nav-pills" role="tablist">
        <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
        <li><a data-toggle="tab" href="#relations">Relations map</a></li>
        <li><a data-toggle="tab" href="#explore">Explore</a></li>
        <li><a data-toggle="tab" href="#help">Help</a></li>
    </ul>


    <div class="tab-content row">

        <!-- General overview -->
        <div class="tab-pane active" id="overview">
            <div class="col-sm-4">
                <h3>Maintenability</h3>
                <small><a id="btn-save-maintenability" download="phpmetric-maintenability.svg">Download (as SVG)</a></small>
                <div id="svg-maintenability"><svg /></div>

                <div class="well ">
                    <h4>Info</h4>
                    <p>
                        Each file is symbolized by a circle.
                        Size of the circle represents the Cyclomatic complexity.
                        Color of the circle represents the Maintenability Index.
                    </p>
                    <p>Large red circles will be probably hard to maintain.</p>
                </div>
            </div>
            <div class=" col-sm-4">

                <h3 id="title-custom">Custom chart</h3>
                <small><a id="btn-save-custom" download="phpmetric-custom.svg">Download (as SVG)</a></small>
                <div id="svg-custom"><svg /></div>

                <div class="well">
                    <h4>Configuration</h4>
                    <p>
                        Select metrics you want to display in chart.
                    </p>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>X Axis</td>
                            <td>Y Axis</td>
                            <td>Diameter</td>
                        </tr>
                        <tr>
                            <td>
                                <select id="xAxis" class="form-control" onchange="xAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select id="yAxis" class="form-control" onchange="yAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select id="rAxis" class="form-control" onchange="rAxis = this.value; updateCustomChart();">
                                    {% for key in keys|sort %}
                                        <option value="{{key}}">{{key|textify}} </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-sm-4">
                <h3>Abstractness / Instability</h3>
                <small><a id="btn-save-abstractness" download="phpmetric-abstractness.svg">Download (as SVG)</a></small>
                <div id="svg-abstractness"><svg /></div>
            </div>
        </div>
        <!-- end: General overview -->



        <!-- Relations -->
        <div class="tab-pane" id="relations">
            <h3>Relations</h3>
            <div class="col-sm-12">
                <div class="well">
                    <p>
                        Class uses another when it calls, constructs, types hint, extends or implements it.
                    </p>
                    <ul>
                        <li><span class="badge relation-source">Used by</span> : this class is used by hovered element.</li>
                        <li><span class="badge relation-target">Uses</span> : this class uses hovered element.</li>
                    </ul>

                </div>
                <small><a id="btn-save-relations" download="phpmetric-relations.svg">Download (as SVG)</a></small>
                <div class="svg-main" id="svg-relations"><svg /></div>

            </div>
        </div>
        <!-- end: Relations -->


        <!-- Tabular datas -->
        <div class="tab-pane" id="explore">
            <div class="col-sm-12">
                <h3>Explore</h3>
                <div id="chart-tableview"></div>
            </div>
        </div>
        <!-- end: Tabular datas -->

        <!-- Help -->
        <div class="tab-pane" id="help">
            <div class="col-sm-12">
                <h3>Help</h3>
                <p>
                    Online help is available on the <a href="http://www.phpmetrics.org/documentation/index.html">PhpMetrics website</a>.
                </p>
                <p>
                    Sources of PhpMetrics are available on <a href="https://github.com/Halleck45/PhpMetrics">Github</a>.
                </p>
            </div>
        </div>
        <!-- end: Help -->

    </div>


    <div>
        Powered by <a href="http://www.phpmetrics.org">PhpMetrics</a> - Copyright Jean-François Lépine
    </div>


</div>






{% include "assets/functions.js.twig" %}
{% include "assets/d3js.js.twig" %}
{% include "assets/nv.d3.min.js.twig" %}
{% include "assets/jquery.js.twig" %}
{% include "assets/bootstrap-tabs.js.twig" %}

{% include "summary/report-tabular.js.twig" %}
{% include "summary/report-maintenability.js.twig" %}
{% include "summary/report-custom.js.twig" %}
{% include "summary/report-abstractness.js.twig" %}
{% include "summary/report-relations.js.twig" %}



<script type="text/javascript">
    $(function(){
        updateTableView();
        updateCustomChart();
        updateAbstractnessChart();
        updateMaintenablityChart();
        updateRelationsChart();

        // selects
        $('#xAxis').val(xAxis);
        $('#yAxis').val(yAxis);
        $('#rAxis').val(rAxis);
    });

    // default selected elements
    var xAxis = 'lcom';
    var yAxis = 'cyclomaticComplexity';
    var rAxis = 'loc';


    $(function() {
        $('#menu a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    })

    {% autoescape false %}
    var data = {{ results | json_encode }}
    var groupedData = {{ groupedResults.asArray() | json_encode }}
    var ruleSet = {{ ruleSet.asArray() | json_encode }}
    {% endautoescape %}

</script>


</body>
</html>